@font-face {
  font-family: 'robotoregular';
  src: url('../webfonts/roboto-regular-webfont.woff2') format('woff2'),
       url('../webfonts/roboto-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body{
  font-family: 'robotoregular', sans-serif;
  background-color: #000;
  margin: 0px;
  height: 100%;
}

html{
  margin: 0px;
  height: 100%;
}

.content{
  height: 100vh;
}

.action-btn{
  color: rgb(100, 100, 100);
  background-color: rgba(255, 255, 255, 0);
  font-size: 40px;
  border: 0;
}

.start-content{
  color: rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0);
  font-size: 20px;
  border: 0;
  cursor: pointer;
}

.source-container{
  color: rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0);
  font-size: 15px;
  border: 0;
  padding-left: 2%;
}

.action-btn-np{
  color: rgb(100, 100, 100);
  background-color: rgba(255, 255, 255, 0);
  font-size: 30px;
  border: 0;
}

.progress-container{
  background-color: #000;
  cursor: pointer;
  height: 15px;
  text-align: center;
}

.progress{
  background-color: rgba(100, 100, 100, 0.643);
  height: 100%;
  transition: width 0.1s linear;
}

#debug {
  font-size: 10px; 
   color: rgb(255, 255, 255);
 }

@media only screen and (orientation: landscape) {

  .content{
  text-align: center;
  overflow: hidden;
  }

  .start-container{
    width: 70%;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding-left: 10%;
  }

  .img-container{
    height: 100%;
    display: inline-block;
  }

  .img-container img{
    height: 100%;
  }

  .img-container-gallery{
    height: 100%;
    display: inline-block;
  }

  .img-container-gallery img{
    height: 90%;
  }

  .action-btn{
    position: absolute;
    transform: translate(-50%,-50%);
    margin-right: -50%;
    top: 50%;
    left: 50%;
  }

  .action-btn-play{
    position: absolute;
    margin-right: -50%;
    top: 95%;
    left: 50%;
  }

  .action-btn-next{
    position: absolute;
    margin-right: -10%;
    top: 93%;
    left: 65%;
  }

  .action-btn-prev{
    position: absolute;
    margin-right: -10%;
    top: 93%;
    left: 28%;
  }

  .progress-container{
    margin-top: -20px;
    z-index: 100;
    position: relative;
  }
}

@media only screen and (orientation: portrait) {
  .content{
    vertical-align: middle;
    display: table-cell;
  }

  .start-content{
    vertical-align: middle;
    display: table-cell;
  }

  .start-container{
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding-left: 5%;
        padding-right: 5%;
  }

  .img-container{
    position: absolute;
    width: 100%;
    transform: translate(-50%,-50%);
    margin-right: -50%;
    top: 50%;
    left: 50%;
  }

  .img-container img{
    width: 100%;
  }
  
  .img-container-gallery{
    position: absolute;
    width: 100%;
    transform: translate(-50%,-50%);
    margin-right: -50%;
    top: 45%;
    left: 50%;
  }

  .img-container-gallery img{
    width: 100%;
  }

  .action-btn{
    position: absolute;
    transform: translate(-50%,-50%);
    margin-right: -50%;
    top: 50%;
    left: 50%;
  }

  .action-btn-play{
    position: absolute;
    transform: translate(-50%,-50%);
    margin-right: -50%;
    top: 107%;
    left: 50%;
  }

  .action-btn-next{
    position: absolute;
    transform: translate(-50%,-10%);
    margin-right: -10%;
    top: 105%;
    left: 75%;
  }

  .action-btn-prev{
    position: absolute;
    transform: translate(-50%,-10%);
    margin-right: -10%;
    top: 105%;
    left: 25%;
  }

  .progress-container{
    bottom: 0;
    width: 100%;
    position: relative;
    margin-top: -20px;
  }
}
    




